<!-- ======= Header ======= -->
<header id="header">
  <div class="container">

    <h1><a href="#">Praveen Srivastav</a></h1>
    <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    <!-- <h2> An Enthusiastic Engineer who works as <span></span>MEAN Stack,MERN Stack , Next Js &amp; Laravel
      Developer</span></span> </h2> -->
    <h2>
      An Enthusiastic Engineer who works as
      <span #roleText></span>
    </h2>

    <!-- navbar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="#">Home</a></li>
        <li><a class="nav-link" routerLink="/about">About</a></li>
        <li><a class="nav-link" routerLink="/resume">Resume</a></li>
        <li><a class="nav-link" routerLink="/portfolio">Portfolio</a></li>
        <li><a class="nav-link" routerLink="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- navbar end -->

    <div class="social-links">
      <a href="https://github.com/praveensrivastav3j" class="github"><i class="fa-brands fa-github"></i></a>
      <!-- <a href="https://www.instagram.com/_praveensrivastav_/" class="instagram"><i class="bi bi-instagram"></i></a> -->
      <a href="mailto:praveensrivatav3july@zohomail.in" class="mail"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/srivastav-praveen-754846160/" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
    </div>

  </div>
</header>
<!-- End Header -->
