<header id="header">
  <div class="container">
    <!-- navbar -->
    <nav id="navbar" class="navbar" [class.navbar-mobile]="isMobileOpen">
      <ul>
        <li><a class="nav-link" routerLink="/" (click)="closeMenu()">Home</a></li>
        <li><a class="nav-link" routerLink="/about" (click)="closeMenu()">About</a></li>
        <li><a class="nav-link" routerLink="/resume" (click)="closeMenu()">Resume</a></li>
        <li><a class="nav-link" routerLink="/portfolio" (click)="closeMenu()">Portfolio</a></li>
        <li><a class="nav-link" routerLink="/contact" (click)="closeMenu()">Contact</a></li>

        <li *ngIf="isLogin"><a class="nav-link" routerLink="/user" (click)="closeMenu()">User</a></li>
        <li *ngIf="isLogin"><a class="nav-link" routerLink="/role" (click)="closeMenu()">Role</a></li>
        <li *ngIf="isLogin"><a class="nav-link" routerLink="/permisison" (click)="closeMenu()">Permission</a></li>
        <li *ngIf="isLogin"><a class="nav-link" routerLink="/profile/loggeddevices" (click)="closeMenu()">Log Devices</a></li>

        <a class="nav-link" (click)="logout()" *ngIf="isLogin">
          <i class="fa-solid fa-sign-out-alt"></i>
        </a>
      </ul>

       <div>
      </div>

      <i class="fa-solid mobile-nav-toggle" [class.fa-bars]="!isMobileOpen" [class.fa-xmark]="isMobileOpen"
        (click)="toggleMenu()"></i>
    </nav>



    <!-- navbar end -->


  </div>
</header>
