

    h3.packageTitle {
    margin: 0 0 20px;
    font-weight: 600;
    color: #000 !important;
    text-align: center;
    font-size: 52px;
    }
    .thePackage {
    background-color: #fff;
    }
    h3.packageTitle {
    text-align: center;
    font-weight: 600;
    padding: 17px 20px;
    font-size: 27px;
    margin: 0;
    border-bottom: 1px solid #d0d0d0;
    }
    .thePrice {
    display: block;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    }
    .perMonth {
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    font-style: italic;
    margin-top: -18px;
    margin-bottom: 14px;
    }
    .thePackageInner {
    padding: 0 30px 30px 30px;
    text-align: center;
    }
    .priceTicks {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        text-align: left;
    }
    .priceTicks li {
    padding-left:31px;
    position: relative;
    color:#212121;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
    }
    .priceTicks li:before {
    content: "\f046";
    font: normal normal normal 22px/1 FontAwesome;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top: 3px;
    }
    a.packageBtn {
    background-color: #2ad1bb;
    padding: 11px 24px;
    display: block;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
    margin-top: 20px;
    }
    a.packageBtn:hover {
        text-decoration: none;
    }
    .graySection {
        background-color: #f3f3f3;
    }
    .contentSection {
        padding: 90px 0;
    }

